.showArticles {
  height: auto;
  padding-top: 80px;
}
.showArticles .banniere {
  background-color: #a56e2e;
  height: 80px;
}
.showArticles .banniere .title {
  margin: auto;
  width: max-content;
  background-color: black;
  position: relative;
  top: 30px;
  color: white;
  font-weight: bold;
  font-style: italic;
  padding: 5px;
}
.showArticles .articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 15px;
}
.showArticles .articles .article {
  display: grid;
  height: 260px;
  border: 1px solid #e4e4e4;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  -webkit-margin-top-collapse: 10px;
}
.showArticles .articles .article .photo_article {
  height: 180px;
  margin: 0px;
  width: auto;
  background-color: #d37566;
}
.showArticles .articles .article .info {
  padding: 5px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.showArticles .articles .article .info .name {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}
.showArticles .articles .article .info .association {
  font-size: 8px;
  color: #9d9d9d;
  width: 80%;
}
.showArticles .articles .article .info .country {
  font-size: 10px;
  color: #cacaca;
  width: 100px;
}
.showArticles .articles .article .info .price {
  font-size: 12px;
  align-self: right;
  text-align: right;
  width: 20%;
}
.showArticles .articles .article .photo_article_loading {
  height: 200px;
  width: auto;
  background-image: url("../IMG/Shop/hii.gif");
  background-size: cover;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #ebebeb;
  background-position: center;
}
.showArticles .articles .article .info_loading {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showArticles .articles .article .info_loading .name_loading {
  background-color: #ebebeb;
  height: 10px;
  position: relative;
  bottom: 5px;
}
.showArticles .articles .article .info_loading .association_loading {
  background-color: #ebebeb;
  height: 10px;
}
.showArticles .articles .article .info_loading .price_loading {
  background-color: #ebebeb;
  height: 10px;
}
.showArticles .fake_pic {
  height: 200px;
  width: 200px;
  border: solid;
}

.showCategories {
  height: auto;
  padding-top: 80px;
}
.showCategories .banniere {
  background-color: #a56e2e;
  height: 80px;
}
.showCategories .banniere .title {
  margin: auto;
  width: max-content;
  background-color: black;
  position: relative;
  top: 30px;
  color: white;
  font-weight: bold;
  font-style: italic;
  padding: 5px;
}
.showCategories .article .info {
  border: solid;
}
.showCategories .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 15px;
}
.showCategories .categories .categorie {
  display: grid;
  height: 170px;
  border: 1px solid #e4e4e4;
  background-color: #00bab2;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  -webkit-margin-top-collapse: 10px;
}
.showCategories .categories .categorie .categorieText {
  height: 100%;
  width: 100%;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  text-align: center;
  padding-top: 70px;
}
.showCategories .categories .categorie:hover .categorieText {
  color: white;
  background-color: rgba(0, 0, 0, 0.564);
}

/*# sourceMappingURL=Shop.css.map */
