@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.cdnfonts.com/css/shorelines-script-bold");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
body {
  font-family: Inter;
  margin: 0px;
  background-color: white;
}
body #root {
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.dot {
  color: #d37566;
}

.Navbar {
  position: fixed !important;
  height: auto;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
  align-items: center;
}
.Navbar .Logo {
  color: black;
  font-family: Inter;
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
  width: max-content;
}
@media screen and (max-width: 430px) {
  .Navbar .Logo {
    text-align: center;
    padding-right: 10%;
    margin-right: 140px;
  }
}
.Navbar .Logo .dot {
  color: #d37566;
}
@media screen and (max-width: 767px) {
  .Navbar {
    width: max-content !important;
  }
}
.Navbar ul {
  z-index: 11;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.Navbar ul li {
  color: black;
  cursor: pointer;
  border-bottom: solid 1px transparent;
  transition-duration: 0.2s;
}
.Navbar ul li:hover {
  color: black;
  font-weight: bold;
  border-bottom: solid 2px black;
}
.Navbar ul p {
  margin: 0px;
}
.Navbar ul li {
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .Navbar ul {
    display: none;
  }
}

.Toolbar {
  float: right;
  height: 90%;
  position: fixed;
  top: 30px;
  left: 95%;
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Toolbar .search_button {
  font-size: 20px;
}
.Toolbar .wish_button {
  background-color: black;
  z-index: 16;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  transition-duration: 1s;
}
.Toolbar .wish_button:hover {
  background-color: #00bab2;
}
.Toolbar .cart_button {
  background-color: black;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  color: white;
  padding: 10px;
  font-size: 20px;
  transition-duration: 1s;
}
.Toolbar .cart_button .nbr_article {
  background-color: #d37566;
  color: white;
  font-size: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  border-radius: 20px;
  padding: 5px;
  left: 25px;
  bottom: 25px;
}
.Toolbar .cart_button:hover {
  background-color: #00bab2;
}

@media screen and (max-width: 780px) {
  .Toolbar {
    left: 88%;
  }
}
.Socialbar {
  float: right;
  position: fixed;
  left: 20px;
  height: 200px;
  top: 250px;
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Socialbar i {
  font-size: 20px;
  transition-duration: 1s;
}
.Socialbar i:hover {
  color: #00bab2;
}

.Accueil {
  position: relative;
  height: 700px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.homePage {
  padding-top: 100px;
}
.homePage .intro {
  padding-left: 100px;
}
@media screen and (max-width: 430px) {
  .homePage .intro {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.homePage .intro .logo {
  font-size: 160px;
  margin: 0px;
  width: max-content;
  position: relative;
  right: 15px;
}
@media screen and (max-width: 780px) {
  .homePage .intro .logo {
    font-size: 100px;
  }
  .homePage .intro .dot {
    color: #d37566;
  }
}
.homePage .intro .text {
  position: relative;
  right: 10px;
  bottom: 30px;
}
@media screen and (max-width: 430px) {
  .homePage .intro .text {
    right: 0px;
    color: black;
  }
  .homePage .intro .text h1 {
    height: 290px;
    background-image: url("../IMG/Home/better.jpg");
    background-repeat: no-repeat;
    padding: 5%;
    background-position: 50% 23%;
    padding-top: 166px;
  }
}
.homePage .intro .text h1 {
  margin: 0px;
  font-weight: 500;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Shorelines Script Bold;
  word-spacing: 20px;
  line-height: 40px;
}
.homePage .intro .text h1 span {
  color: #d37566;
}
@media screen and (max-width: 430px) {
  .homePage .intro .text h1 {
    color: white;
    text-shadow: 0 0 1px black;
  }
}
@media screen and (max-width: 430px) {
  .homePage .intro .text #wd-meilleur {
    color: #f9cca5;
    text-shadow: 0 0 0px black;
  }
}
.homePage .intro a {
  background-color: #f9cca5;
  width: max-content;
  padding: 10px;
  color: white;
  font-weight: bold;
  position: relative;
  right: 10px;
}

.Carousel {
  float: right;
  padding: 0px !important;
  height: 700px;
}
.Carousel .Slide {
  height: 700px;
  width: auto;
  background-size: cover;
  background-position: center;
}
.Carousel .slide1 {
  background-image: url("../IMG/Home/carousel-1.jpg");
}
.Carousel .slide2 {
  background-image: url("../IMG/Home/carousel-2.jpg");
}
.Carousel .slide3 {
  background-image: url("../IMG/Home/carousel-3.jpg");
}
.Carousel .slide4 {
  background-image: url("../IMG/Home/carousel-4.jpg");
}
.Carousel button {
  display: none;
}
.Carousel .carousel-dots {
  position: absolute;
  bottom: 30px;
  z-index: 5;
}

.Data {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  height: 200px;
}
.Data .number {
  margin: 0px;
  font-size: 90px;
  text-align: center;
  font-family: bebas neue;
  color: white;
}
.Data .number .centimes {
  font-size: 30px;
  text-align: center;
  font-family: bebas neue;
}
.Data .title {
  margin-top: 0px;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 500;
  width: max-content;
  position: relative;
  bottom: 10px;
  margin: auto;
}
.Data .title .emoji {
  font-size: 20px;
  display: none;
}
.Data div {
  background-color: #a56e2e;
  width: 150px;
  height: 150px;
  padding: 10px;
}

.HomeSelection {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 100px;
  flex-wrap: wrap;
}
.HomeSelection .section {
  padding: 0px;
  height: 725px;
}
@media screen and (max-width: 800px) {
  .HomeSelection .section {
    height: 350px;
  }
}
.HomeSelection .section .test {
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  transition-duration: 1s;
  color: rgba(0, 0, 0, 0);
  border: solid;
}
.HomeSelection .section .test h1 {
  font-family: Shorelines Script Bold;
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 200px;
}
.HomeSelection .section .test p {
  text-align: center;
  position: relative;
  padding: 20px;
  font-size: 15px;
  top: 170px;
}
@media screen and (max-width: 900px) {
  .HomeSelection .section .test h1 {
    font-family: Shorelines Script Bold;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 120px;
  }
  .HomeSelection .section .test p {
    text-align: center;
    position: relative;
    padding: 20px;
    font-size: 15px;
    top: 100px;
  }
}
.HomeSelection .section:hover .test {
  background-color: rgba(0, 0, 0, 0.514);
  display: block;
  color: white;
}
.HomeSelection .section:hover .test h1 {
  color: white;
}
.HomeSelection .title {
  text-align: center;
}
.HomeSelection div:nth-child(1) section {
  background-color: #d37566;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../IMG/Home/adults.jpg");
}
.HomeSelection div:nth-child(2) section {
  background-color: #f9cca5;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../IMG/Home/accessoires.jpg");
}

.NewProducts {
  margin: auto;
  margin-top: 100px;
  z-index: 2;
}
.NewProducts .manuscrit {
  font-family: Shorelines Script Bold;
  font-weight: initial;
  font-size: 30px;
  margin-bottom: 5px;
}
.NewProducts .products {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.NewProducts .products .picture {
  background-color: #d37566;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
@media screen and (max-width: 800px) {
  .NewProducts .products .picture {
    height: 200px;
  }
}
@media screen and (max-width: 430px) {
  .NewProducts .products .picture {
    height: 380px;
  }
}
.NewProducts .products .product {
  box-shadow: 0.3em 0.2em 1em -0.7em black;
  border-radius: 10px;
}
@media screen and (max-width: 430px) {
  .NewProducts .products .product {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 500px) {
  .NewProducts .products {
    display: block;
  }
  .NewProducts body {
    margin-left: 2%;
    margin-right: 2%;
  }
}
.NewProducts .info {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  align-items: center;
}
.NewProducts .info .name {
  font-size: 20px;
}
.NewProducts .info .association {
  font-size: 12px;
  color: white;
}
.NewProducts .info .price {
  font-size: 17px;
}

.size {
  height: 0px;
}
.size .demi-fond {
  background-color: #f9cca5;
  position: relative;
  bottom: 200px;
  z-index: 0;
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 580px) {
  .size .demi-fond {
    background-color: transparent;
  }
}

.assos {
  padding-top: 80px;
}
.assos .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.assos .regarde {
  padding: 20px;
  box-shadow: 0.1em 0.1em 1em 0.1em beige;
}
.assos .regarde h3 {
  text-align: center;
  font-weight: 200;
  font-size: 20px;
}
.assos .regarde p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-align: justify;
}

.Associations {
  height: 900px;
  background-color: #f9cca5;
  padding-top: 100px;
}
@media screen and (max-width: 430px) {
  .Associations {
    background-color: white;
  }
}
.Associations #jeteste {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.Associations .all {
  overflow: scroll;
  height: 500px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.Associations .all .text {
  position: relative;
  top: 120px;
  padding: 5px;
}
.Associations .all .text h1 {
  margin: 0px;
  text-align: center;
  font-weight: 500;
}
.Associations .all .text p {
  font-size: 10px;
  text-align: center;
}
.Associations .all .association:nth-child(2) {
  background-color: white;
}
.Associations .all .association:nth-child(3) {
  background-color: #d37566;
}
.Associations .all .association:nth-child(4) {
  background-color: #a56e2e;
}
.Associations .all .association:nth-child(5) {
  background-color: white;
}
.Associations .all .association:nth-child(6) {
  background-color: #d37566;
}
.Associations .all .association:nth-child(7) {
  background-color: #00bab2;
}
.Associations .all .association:nth-child(8) {
  background-color: white;
}
.Associations .all .association:nth-child(9) {
  background-color: #d37566;
}
.Associations .all .association:nth-child(10) {
  background-color: white;
}
.Associations .all .association:nth-child(11) {
  background-color: white;
}
.Associations .all .association:nth-child(12) {
  background-color: #a56e2e;
}
.Associations .all .association:nth-child(13) {
  background-color: white;
}
.Associations .all .association:nth-child(14) {
  background-color: #d37566;
}
.Associations .all .association:nth-child(15) {
  background-color: #a56e2e;
}
.Associations .association {
  background-color: #a56e2e;
  height: 200px;
}

.showAsso {
  padding-top: 80px;
}
.showAsso .association {
  padding-bottom: 80px;
}
.showAsso .title #asso {
  font-family: Shorelines Script Bold;
}
.showAsso .title #name {
  font-size: 50px;
  text-align: center;
  color: #00bab2;
}

.Footer {
  background-color: black;
  padding: 40px;
  color: white;
}
.Footer a {
  color: white;
}
.Footer footer {
  display: flex;
  justify-content: space-between;
}
.Footer .foot1 {
  border-right: solid white 1px;
  height: max-content;
}
.Footer .foot1 .Logo {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Footer .foot1 .Logo span {
  color: #d37566;
}
.Footer .foot1 p {
  margin: 0px;
  margin-bottom: 5px;
  color: #8f8f8f;
  font-size: 12px;
}
.Footer .foot2 ul {
  display: flex;
  justify-content: space-between;
}
.Footer .foot2 i {
  color: white;
}
.Footer .foot2 .SocialFooter {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.Footer .foot2 .newsletter {
  display: flex;
  margin: auto;
  width: max-content;
  margin-top: 40px;
  margin-bottom: 40px;
}
.Footer .foot2 .newsletter h3 {
  margin: 0px;
  margin-right: 10px;
}
.Footer .foot2 .newsletter h3 span {
  color: #d37566;
}
.Footer .foot2 .newsletter input[type=text] {
  border: none;
}
.Footer .foot2 .newsletter input[type=submit] {
  border: none;
  background-color: #d37566;
  color: white;
}
.Footer h5 {
  text-align: center;
  font-weight: normal;
}

.popup-bg {
  display: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.568);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 140%;
  overflow: auto;
}

.Cart {
  background-color: white;
  z-index: 12;
  position: fixed !important;
  margin: auto;
  padding-top: 10px;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  width: 100%;
  height: 500px;
  display: none;
  flex-direction: column;
}
@media screen and (max-width: 430px) {
  .Cart {
    left: 10%;
    right: 10%;
    bottom: 20%;
    top: 20%;
    width: 80% !important;
  }
}
@media screen and (max-width: 800px) {
  .Cart {
    left: 10%;
    right: 10%;
    bottom: 20%;
    top: 20%;
    width: 80% !important;
  }
}
.Cart .title {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: #c5c5c5 solid 1px;
  margin-bottom: 10px;
}
.Cart .title h1 {
  margin: 0px;
  width: max-content;
  font-weight: bold;
}
.Cart .title h1 .dot {
  color: #d37566;
}
.Cart .title h3 {
  margin: 0px;
  width: max-content;
  font-weight: 500;
}
.Cart .picto {
  width: 100%;
  text-align: center;
}
.Cart .picto i {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
}
.Cart h1 {
  font-weight: normal;
  text-align: center;
  width: 100%;
}
.Cart:nth-child(2) .article {
  border: solid;
}
.Cart .article {
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}
@media screen and (max-width: 430px) {
  .Cart .article {
    display: grid;
  }
}
@media screen and (max-width: 800px) {
  .Cart .article {
    display: grid;
  }
}
.Cart .article .details_article {
  display: flex;
}
.Cart .article .details_article .img_article {
  height: 100px;
  width: 100px;
  background-color: #d37566;
}
.Cart .article .details_article .name_assos {
  padding-left: 10px;
}
.Cart .article .details_article .name_assos h3 {
  margin: 0px;
  font-size: 15px;
  font-weight: normal;
}
.Cart .article .details_article .name_assos .assos {
  color: #c4c4c4;
  padding: 0px;
  font-size: 10px;
  height: max-content;
}
.Cart .article .details_article2 {
  display: flex;
  height: 40px;
  align-self: center;
  justify-content: space-between;
}
@media screen and (max-width: 430px) {
  .Cart .article .details_article2 {
    justify-content: start;
    grid-gap: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 800px) {
  .Cart .article .details_article2 {
    justify-content: start;
    grid-gap: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
.Cart .article .details_article2 .price {
  font-size: 15px;
  align-self: center;
}
.Cart .article .details_article2 i {
  align-self: center;
  color: #bebebe;
}
.Cart .article .details_article2 select {
  width: 50px;
  border-radius: 0px;
}
.Cart .cartContents {
  height: 350px;
  overflow: scroll;
}
.Cart .cart_bottom {
  border-top: solid 1px #ebebeb;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  padding: 10px;
}
@media screen and (max-width: 430px) {
  .Cart .cart_bottom {
    display: grid;
  }
}
@media screen and (max-width: 800px) {
  .Cart .cart_bottom {
    align-items: center;
  }
}
.Cart .cart_bottom .don_select {
  display: flex;
  height: max-content;
  justify-content: space-between;
}
@media screen and (max-width: 430px) {
  .Cart .cart_bottom .don_select {
    grid-gap: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 800px) {
  .Cart .cart_bottom .don_select {
    grid-gap: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
.Cart .cart_bottom .don_select p {
  margin: 0px;
}
.Cart .cart_bottom .don_select .don {
  font-size: 16px;
}
.Cart .cart_bottom .don_select .facultatif {
  font-size: 12px;
  color: #d4d4d4;
}
.Cart .cart_bottom .don_select select {
  width: 50px;
  border-radius: 0px;
}
.Cart .cart_bottom .total {
  display: flex;
  align-items: center;
}
.Cart .cart_bottom .total h2 {
  font-size: 20px;
  margin: 0px;
  margin-right: 20px;
}
.Cart .cart_bottom .total .order_button {
  background-color: #38a838;
  width: max-content;
  padding: 10px;
  color: white;
}

.search {
  background-color: white;
  z-index: 12;
  position: fixed !important;
  margin: auto;
  padding-top: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: max-content;
  overflow: auto;
  display: none;
  flex-direction: column;
  width: 35% !important;
  padding-left: 2%;
  padding-right: 2%;
}
@media screen and (max-width: 430px) {
  .search {
    right: 0;
    bottom: 0;
    top: 0;
    width: 80% !important;
  }
}
@media screen and (max-width: 800px) {
  .search {
    right: 0;
    bottom: 0;
    top: 0;
    width: 80% !important;
  }
}
.search .input-group.md-form.form-sm.form-2.pl-0 {
  display: flex;
  align-items: center;
}
.search .input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.search .input-group.md-form.form-sm.form-2 input.red-border {
  border: none;
  background-color: beige;
}
.search .fas {
  color: #ef9a9a;
}
.search .pricing {
  display: flex;
}
.search .button {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 4px;
}
.search select {
  width: 100%;
  background-color: beige;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
}
.search #search_submit_btn {
  text-align: center;
  padding-top: 50px;
}
.search .form-control {
  width: 100%;
}
.search #search_bar {
  background-color: beige;
  padding: 10px !important;
  border-radius: 9px;
}
.search h1 {
  font-size: 44px;
}
.search h1 .dot {
  color: #d37566;
}
.search .input-group {
  display: flex;
  align-items: center;
  padding: 2%;
}
.search .price_select .form-group {
  display: flex;
  justify-content: space-between;
}
.search h4 {
  border-top: 1px solid beige;
  padding-top: 4%;
  color: #e6e1e1;
}

.Wish {
  background-color: white;
  z-index: 12;
  position: fixed !important;
  margin: auto;
  padding: 50px;
  padding-top: 30px;
  left: 20%;
  right: 20%;
  top: 50px;
  bottom: 0px;
  width: 100%;
  height: 500px;
  overflow: auto;
  display: none;
  flex-direction: column;
}
.Wish .picto {
  width: 100%;
  text-align: center;
}
.Wish .picto i {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
}
.Wish h1 {
  font-weight: normal;
  text-align: center;
  width: 100%;
}

.Payment {
  background-color: white;
  z-index: 12;
  position: fixed !important;
  margin: auto;
  padding: 50px;
  padding-top: 30px;
  left: 20%;
  right: 20%;
  top: 50px;
  bottom: 0px;
  width: 100%;
  height: 500px;
  overflow: auto;
  display: none;
}
.Payment .Carriers {
  height: 140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.Payment .Carriers .carrier {
  padding: 10px;
  border: solid 1px gainsboro;
  text-align: center;
}
.Payment .Carriers .carrier .pic {
  height: 50px;
  background-color: white;
  height: 70px;
  background-color: grey;
}
.Payment .Carriers .carrier h3 {
  margin: 0px;
  font-size: 15px;
}
.Payment .Carriers .carrier h2 {
  margin: 0px;
  font-size: 15px;
}
.Payment .Carriers .carrier h1 {
  margin: 0px;
  font-size: 10px;
}
.Payment .recap_payment {
  display: flex;
}
.Payment .recap_section {
  height: 250px;
  overflow: scroll;
}
.Payment .recap_section .article {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: solid 1px #ebebeb;
}
.Payment .recap_section .article .details_article {
  display: flex;
  justify-content: space-between;
  height: 120px;
}
.Payment .recap_section .article .details_article .article_infos a {
  color: black;
}
.Payment .recap_section .article .details_article .article_infos .title {
  margin: 0px;
  font-size: 12px;
}
.Payment .recap_section .article .details_article .article_infos .price {
  font-size: 12px;
}
.Payment .recap_section .article .details_article .article_infos .assos {
  margin: 0px;
  font-size: 10px;
}
.Payment .recap_section .article .details_article .img_article {
  height: 120px;
  background-color: #00bab2;
  margin-right: 10px;
}
.Payment form {
  height: 250px;
  padding-left: 20px;
  border-left: solid #c2c2c2 1px;
}
.Payment form .dot {
  color: #d37566;
}
.Payment form h1 {
  margin: 0px;
  margin-bottom: 10px;
}
.Payment form .card_pics {
  background-image: url("../IMG/Shop/credit_card.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  margin: 0px;
}
.Payment form input[type=text],
.Payment form input[type=email],
.Payment form input[type=password] {
  border: none;
  border-bottom: solid #c2c2c2 1px;
  border-radius: 0px;
  height: 20px;
  margin-bottom: 10px;
}
.Payment form input[type=checkbox]:not(:checked) {
  border: none;
}
.Payment form label {
  font-size: 10px;
  color: #c2c2c2;
}
.Payment form .submit_div {
  display: flex;
  justify-content: flex-end;
}
.Payment form .exp_cvv {
  display: flex;
  justify-content: space-between;
}

.sign_up {
  background-color: white;
  z-index: 12;
  position: fixed !important;
  margin: auto;
  left: 20%;
  right: 20%;
  top: 50px;
  bottom: 0px;
  width: 100%;
  height: 500px;
  overflow: auto;
  display: none;
}
@media screen and (max-width: 400px) {
  .sign_up {
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    padding: 2px;
    width: 80% !important;
  }
}
@media screen and (max-width: 580px) {
  .sign_up {
    top: 15%;
    bottom: 15%;
  }
}
@media screen and (max-width: 800px) {
  .sign_up {
    top: 25%;
    bottom: 25%;
  }
}
.sign_up .picture {
  background-color: #a56e2e;
  background-image: url("../IMG/Home/bra.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.sign_up form {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sign_up form h1 {
  font-weight: bold;
}
.sign_up form h1 .dot {
  color: #d37566;
}
.sign_up form input[type=submit] {
  border: none;
  background-color: #d37566;
  color: white;
  padding: 10px;
  margin: auto;
  align-self: flex-end;
}
.sign_up form input[type=text],
.sign_up form input[type=email],
.sign_up form input[type=password] {
  border: none;
  border-bottom: solid #c2c2c2 1px;
  border-radius: 0px;
  height: 40px;
}
.sign_up form input[type=checkbox]:not(:checked) {
  border: none;
}
.sign_up form label {
  font-size: 10px;
  color: #c2c2c2;
}
.sign_up h1 {
  font-weight: normal;
  text-align: center;
  width: 100%;
}

.log_in {
  background-color: white;
  z-index: 12;
  position: fixed !important;
  margin: auto !important;
  padding: 50px;
  padding-top: 30px;
  left: 20%;
  right: 20%;
  top: 25%;
  bottom: 25%;
  width: 100%;
  height: max-content;
  overflow: auto;
  display: none;
  flex-direction: column;
}
@media screen and (max-width: 400px) {
  .log_in {
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    padding: 2px;
    width: 80% !important;
  }
}
@media screen and (max-width: 580px) {
  .log_in {
    top: 15%;
    bottom: 15%;
  }
}
@media screen and (max-width: 800px) {
  .log_in {
    top: 25%;
    bottom: 25%;
    left: 15%;
    right: 15%;
  }
}
.log_in form {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.log_in form h1 {
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}
.log_in form h1 .dot {
  color: #d37566;
}
.log_in form input[type=submit] {
  border: none;
  background-color: #d37566;
  color: white;
  padding: 10px;
  margin: auto;
  align-self: flex-end;
}
.log_in form input[type=text],
.log_in form input[type=email],
.log_in form input[type=password] {
  border: none;
  border-bottom: solid #c2c2c2 1px;
  border-radius: 0px;
  height: 40px;
  font-size: 20px;
}
.log_in form input[type=checkbox]:not(:checked) {
  border: none;
}
.log_in form label {
  font-size: 10px;
  color: #c2c2c2;
}

@media screen and (max-width: 580px) {
  .Footer footer {
    display: block;
  }

  .Footer .foot1 {
    border: 1px solid black;
  }

  .Footer .foot1 p {
    display: none;
  }

  .Footer .foot2 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-left: inherit;
    padding-top: 2%;
    text-align: center;
  }

  .Footer .foot2 .newsletter {
    display: grid;
  }
}
.Don {
  background-color: white;
  z-index: 12;
  position: fixed !important;
  margin: auto;
  padding: 50px;
  padding-top: 0px !important;
  left: 20%;
  right: 20%;
  top: 50px;
  bottom: 50px;
  width: 100%;
  height: 550px;
  overflow: auto;
  display: none;
  flex-direction: column;
}
.Don .title {
  margin-bottom: 65px;
}
.Don .title .picto {
  width: 100%;
  text-align: center;
  color: #f9cca5;
  font-size: 56px;
}
.Don .title h1 {
  font-weight: normal;
  text-align: center;
  width: 100%;
  margin-top: -50px;
}
.Don .don-form {
  justify-content: space-between;
}
.Don .don-form .input-group {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}
.Don .don-form .input-group select {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0.1px solid gray;
  width: 115px;
  color: #cacaca;
}
.Don .don-form #ou {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #f9cca5;
  font-weight: bold;
}
.Don .don-form label {
  font-size: 15px;
}
.Don .don-form #somme_bar {
  display: flex;
  align-items: center;
}
.Don .don-form #somme_bar input {
  background-color: white;
  border: none;
  border-bottom: 0.1px solid #cacaca;
  padding: 5px;
  width: 100px;
  margin-left: 145px;
  text-align: right;
}
.Don .don-form #don_submit_btn {
  text-align: center;
  margin-top: 50px;
}
.Don .don-form #don_submit_btn .button {
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.Apropos {
  height: auto;
  padding-top: 60px;
}
.Apropos .container {
  padding-top: 100px;
}
.Apropos .container .button {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Apropos .container .button a {
  background-color: #f9cca5;
  width: max-content;
  padding: 10px;
  color: white;
  font-weight: bold;
  position: relative;
  right: 10px;
}
.Apropos .container .logo {
  font-size: 160px;
  margin: 0px;
  width: max-content;
}
.Apropos .container .dot {
  color: #d37566;
}
.Apropos .container .picture {
  background-size: cover;
  background-repeat: no-repeat;
}
.Apropos .container .equipe {
  background-image: url("../IMG/Others/equipe.png");
  height: 600px;
  margin-bottom: 5%;
  margin-top: 5%;
}
.Apropos .container .schema {
  background-image: url("../IMG/Others/Schema-hii.png");
  height: 450px;
  margin-bottom: 5%;
  margin-top: 5%;
}
.Apropos .container .Logo {
  font-weight: bold;
}

.menu-toggle {
  position: relative;
  display: block;
  width: 30px;
  height: 26px;
  z-index: 10;
  margin-right: 20px;
  background: transparent;
  border-top: 4px solid;
  border-bottom: 4px solid;
  color: black;
  font-size: 0;
  transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 430px) {
  .menu-toggle {
    height: 25px;
    width: 25px;
  }
}
.menu-toggle:before, .menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}
button:hover {
  color: #262626;
}

button.is-active {
  border-color: transparent;
}
button.is-active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.background {
  display: none;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  left: 0px;
  overflow: auto;
}

.menu {
  position: fixed !important;
  top: 37%;
  left: 37%;
  margin: auto;
  display: none;
  align-items: center;
  z-index: 14;
  font-family: Inter;
  color: white;
}

@media screen and (max-width: 580px) {
  .testie {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -160px;
  }

  .testiee {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/*# sourceMappingURL=Style.css.map */
