body {
  font-family: inter;
  padding: 30px;
  padding-top: 0px;
  color: white;
  background-color: black;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed !important;
  z-index: 10;
}
nav .title-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .title-burger .title {
  font-size: 25px;
  margin: 0px;
}
nav .title-burger .burger {
  font-size: 30px;
}
nav .logo {
  font-size: 40px;
  margin: 0px;
  z-index: 7;
}
nav .logo .dot {
  color: #fd4cad;
  font-size: 80px;
  line-height: 0px;
  position: relative;
  top: 11px;
}

.nav {
  background-color: rgba(0, 0, 0, 0.658);
  height: 50px;
  z-index: 9;
  position: fixed !important;
}

.roles {
  float: right;
  height: 100vh;
}
.roles .dot {
  color: #fd4cad;
  margin-left: 20px;
  margin-right: 20px;
}
.roles h5 {
  width: 600px;
  position: fixed;
  height: max-content;
  top: 260px;
  right: -200px;
  transform: rotate(-90deg);
  z-index: 6;
}

.background {
  display: none;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  bottom: 0px;
  width: 140%;
  height: 140%;
  left: 0px;
  overflow: auto;
}

menu {
  display: none;
  color: #9c9c9c;
  font-weight: bold;
  z-index: 6;
  position: fixed !important;
  margin: auto;
  padding-inline-start: 0px;
  height: 90%;
  width: 100%;
  padding-top: 50px;
}
menu ul {
  padding-left: 0px;
  list-style: none;
  text-decoration: none;
}
menu ul li {
  font-size: 90px;
  text-align: center;
}
menu ul li:hover {
  color: white;
  cursor: default;
}

.menu {
  position: fixed !important;
  height: 90vh;
  display: flex;
  align-items: center;
  z-index: 5;
}
.menu ul {
  margin: 0px;
  list-style: none;
  text-decoration: none;
  padding: 0px;
}
.menu ul li {
  margin-top: 60px;
  font-weight: bold;
}
.menu ul li .title {
  color: rgba(255, 255, 255, 0);
  transition-duration: 1s;
  cursor: default;
}
.menu ul li .dot {
  color: rgba(255, 255, 255, 0.322);
  margin-right: 30px;
  font-size: 20px;
  transition-duration: 1s;
}
.menu ul li:hover .title {
  color: white;
}
.menu ul li:hover .title .point {
  color: #fd4cad;
}
.menu ul li:hover .dot {
  color: white;
}

.HomePage {
  padding-top: 100px;
  height: auto;
  z-index: 1;
}
.HomePage .carousel {
  height: 500px;
  float: right;
  display: flex;
  justify-content: space-between;
}
.HomePage .carousel .image {
  position: absolute;
  background-position: center;
  background-image: url("../Images/carousel/img1.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
.menu-toggle {
  position: relative;
  display: block;
  width: 30px;
  height: 26px;
  z-index: 10;
  background: transparent;
  border-top: 4px solid;
  border-bottom: 4px solid;
  color: white;
  font-size: 0;
  transition: all 0.25s ease-in-out;
}
.menu-toggle:before, .menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}

button:hover {
  color: white;
}

button.is-active {
  border-color: transparent;
}
button.is-active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.home {
  height: 500px;
  margin-bottom: 100px;
}

.contener {
  height: 500px;
  margin-bottom: 200px;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}
.contener .mosaique {
  height: 500px;
}
.contener .number {
  color: #fd4cad;
  font-family: bebas neue;
  font-size: 90px;
  display: flex;
  padding-left: 20px;
  align-self: flex-end;
  height: max-content;
  margin: 0px;
  line-height: 50px;
}

.scroll {
  height: 100px;
}

footer {
  height: 300px;
  border: solid;
}

.projets-number {
  display: flex;
  height: auto;
}

.projets .contener-1 {
  display: flex;
  height: 200px;
}
.projets .contener-2 {
  display: flex;
  height: 230px;
}
.projets .projet {
  background-size: cover;
  background-position: center;
}
.projets .projet .text {
  background-color: transparent;
  height: 100%;
  color: transparent;
  margin: 0px;
  border: solid transparent;
  text-align: center;
  padding-top: 60px;
  transition-duration: 1s;
}
.projets .projet .text h1 {
  margin-bottom: 10px;
  padding: 0px;
  color: transparent;
}
.projets .projet .text h4 {
  margin: 0px;
  font-weight: normal;
}
.projets .projet .text h5 {
  margin: 0px;
  font-weight: normal;
}
.projets .projet:hover .text {
  background-color: rgba(0, 0, 0, 0.705);
  height: 100%;
  color: #fd4cad;
  margin: 0px;
  border: solid transparent;
}
.projets .projet:hover .text h1 {
  margin-bottom: 10px;
  padding: 0px;
  color: white;
}

.projets-illu {
  display: flex;
}
.projets-illu .contener_illu-1 {
  height: 430px;
}
.projets-illu .contener_illu-1 .projet {
  height: 100%;
}
.projets-illu .contener_illu-2 {
  height: 430px;
}
.projets-illu .contener_illu-2 .projet {
  height: 50%;
}
.projets-illu .projet {
  background-size: cover;
  background-position: center;
}

.web1 {
  background-image: url("../Images/web/my_cinema.jpg");
}

.web2 {
  background-image: url("../Images/web/my_meetic.jpg");
}

.web3 {
  background-image: url("../Images/web/puissance_4.jpg");
}

.web4 {
  background-image: url("../Images/web/tweet_academie.jpg");
}

.dg1 {
  background-image: url("../Images/dg/affiche.jpg");
}

.dg2 {
  background-image: url("../Images/dg/packaging.jpg");
}

.dg3 {
  background-image: url("../Images/dg/log.jpg");
}

.dg4 {
  background-image: url("../Images/typo/typo.jpg");
}

.illu1 {
  background-image: url("../Images/illustrations/illu1.jpg");
  background-color: pink;
}

.illu2 {
  background-image: url("../Images/illustrations/cry.jpg");
}

.illu3 {
  background-image: url("../Images/illustrations/astro_koum.jpg");
}

.background-projet {
  display: none;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  bottom: 0px;
  width: 140%;
  height: 140%;
  left: 0px;
  overflow: auto;
}

.popup-projet {
  display: block;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  bottom: 0px;
  width: 140%;
  height: 140%;
  left: 0px;
  overflow: auto;
}

/*# sourceMappingURL=Style.css.map */
